@media screen and (max-width: 768px) {
    .menu {
        display: none;
        width: 100%;
        text-align: center;
        background-color: #333;
        position: absolute;
        top: 50px;
        left: 0;
    }

    .menu li {
        display: block;
        margin: 0;
    }

    .menu li a {
        padding: 10px;
        display: block;
    }

    .menu-toggle {
        display: block;
    }

    .close-menu {
        display: block;
        margin-left: auto;
        padding: 10px;
        color: white;
        cursor: pointer;
        font-size: 30px;
    }

    .menu.active {
        display: block;
    }

    
}